.custom-block {
  .custom-block-title {
    font-weight: 600;
    margin-bottom: -0.4rem;
  }

  &.tip, &.warning, &.danger {
    padding: 0.1rem 1.5rem;
    border-left-width: 0.5rem;
    border-left-style: solid;
    margin: 1rem 0;
  }

  &.tip {
    background-color: #e9f6ee;
    border-color: #7fcc9e;
  }

  &.warning {
    background-color: #fcf0e9;
    border-color: #efb38f;
    color: darken(#fcf0e9, 70%);

    .custom-block-title {
      color: darken(#fcf0e9, 50%);
    }

    a {
      color: $textColor;
    }
  }

  &.danger {
    background-color: #faebeb;
    border-color: #e49b9b;
    color: darken(#b43131, 70%);

    .custom-block-title {
      color: darken(#b43131, 40%);
    }

    a {
      color: $textColor;
    }
  }
}
